html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height : 100%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 600;
}

.flexItems{
    width: 100%;
    height: 100%;
    flex: 1 1;
}

.section{
    height : 100vh;
    width : 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;

    .mainBody{
        //Setting the height of the bodies to be made
        //The height depends on the number of banners needing to be displayed at the same time
        &.oneBannerBody{
            height : 90vh;

            //Styling the home page of the website
            &.home{
                box-sizing: border-box;
                padding: 20px;

                .mainTitle{
                    height : 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 80px;
                }

                .information{
                    height: 50%;
                    padding: 3%;
                    box-sizing: border-box;

                    p{
                        font-size: 40px;
                        font-weight: 500;
                    }
                }

                .transportArea{
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                    font-size: 40px;

                    .buttonsArea{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        button{
                            padding: 20px;
                            font-size: 32px;
                            font-weight: 600;
                            border-radius: 32px;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    
        &.twoBannerBody{
            height : 80vh;

            &.photos{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 98vw;
                gap: 20px;

                p{
                    font-size: 36px;
                }
            }
        }
    }

    .banner{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(66, 66, 66);
        transition: background-color 1000ms;
        cursor: pointer;

        //Styling the font in the banners
        color: white;
        font-size: 40px;
        font-weight: 600;

        //Making the curved edges
        &.topBanner{
            border-radius: 0px 0px 30% 30%;
        }

        &.bottomBanner{
            border-radius: 30% 30% 0px 0px;
        } 
        
        //Styling the main area of the banner, and the icons
        .bannerContent{
            height: 8vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            
            span{
                font-size: 40px;
                font-weight: 600;
                transition: transform 1s;
            }
        }

        //Styling the edges of the banner
        .bannerBottom, .bannerTop{
            height: 2vh;
            margin: -10px;
            border-radius: 30%;
        }

        //Creating the hover animations
        &:hover{
            background-color: rgb(92, 92, 92);
            .bannerContent{
                span{
                    &.upArrow{
                        transform: translateY(-5px);
                    }
                    &.downArrow{
                        transform: translateY(+5px);
                    }
                }
            }
        }
    }

}

//Implementing the styling for the photo slideshow on photos screen
.slider{
    width: 80vw;
    height: 60vh;
    margin-left: 5vw;
    border-radius : 10px;
    border: 2px solid black;
    overflow: hidden;

    .slides{
        width : 500%;
        height : 60vh;
        display: flex;
    
        input{
            display: none;
        }

        .slide{
            width: 20%;
            transition: 2s;
        
            img{
                width: 80vw;
                height: 60vh;
            }
        }

        //Implementing the photo slideshow movement
        #radio1:checked ~ .first{
            margin-left: 0;
        }
        
        #radio2:checked ~ .first{
            margin-left: -20%;
        }
        
        #radio3:checked ~ .first{
            margin-left: -40%;
        }
        
        #radio4:checked ~ .first{
            margin-left: -60%;
        }
    }
}